<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en" dir="ltr">

<head>
    <title>MoreThanEducate</title>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="../">
    <!-- 綠界標投 -->
    <meta http-equiv="Content-Language" content="zh-TW">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="description"
        content="綠界科技 ECPay 提供信用卡刷卡、超商代收及取貨付款、ATM轉帳...等多種金流收款服務，會員可於綠界網站建立收款網址或使用API程式串接，應用彈性，收款隔日起即撥款。支付找綠界，買賣無國界。">
    <!-- 必填，限制 81-150 字 -->
    <meta name="keywords" content="信用卡,ATM轉帳,超商代碼,超商條碼,applepay,googlepay,samsungpay,金流服務">




    <link rel="shortcut icon" href="../public/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,600,700,900&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../public/css/plugins.min.css" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <style>
        .table {
            table-layout: fixed;
            word-break: break-all;
            overflow: hidden;
        }

        .overflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .sum {
            float: right;
            font-family: Microsoft JhengHei;
            font-weight: bold;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <!-- Loading -->
    <div id="preloader" class="preloader">
        <div class="preloader-inner">
            <div class="preloader-6">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- / -->
    <!--Overlay-->
    <span class="mega-menu-overlay"></span>
    <!--Header-->
    <header class="app-header app-header-1 boxed">
        <div class="container">
            <div class="header-wrap">
                <button class="button button-menu button-open-sidenav">
                    <span></span>
                </button>
                <div class="header-menu">
                    <ul>
                        <li class="has-menu" data-megamenu-link="mega-menu-1">
                            <div class="mega-menu-link">
                                <span class="title">前往</span>
                                <span class="icon fa fa-angle-left"></span>
                            </div>
                            <div data-megamenu-id="mega-menu-1" class="mega-menu mega-menu-1">
                                <div class="mega-menu-inner">
                                    <div>
                                        <div class="espard-menu">
                                            <div class="row row-xl-5">

                                                <div class="col">
                                                    <p class="title">個人中心</p>
                                                    <ul>
                                                        <li>
                                                            <a
                                                                href="/tfa105g5-more-than-educate/views/member/dashboard.jsp">
                                                                <span class="text">個人首頁</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a
                                                                href="/tfa105g5-more-than-educate/views/member/profile.jsp">
                                                                <span class="text">個人資料</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Edit Skills</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Adding Classrooms</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--/-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/tfa105g5-more-than-educate/views/member/teacherProfile.jsp">
                                <span class="text">成為老師</span>
                                <span class="icon fa fa-angle-left"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-logo">
                    <a href="/tfa105g5-more-than-educate/index.jsp" class="primary-logo">
                        <span class="text-1">MoreThanEducate</span>
                        <span class="text-2"></span>
                    </a>
                </div>
                <div class="header-links">
                    <form action="/tfa105g5-more-than-educate/views/member/logout" method="post">
                        <button class="button button-md button-primary" type="submit">登出</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/-->
    <!--Wrapper-->
    <div class="app-wrapper">
        <div class="page page-dashboard page-dashboard-student">
            <!--Section-->
            <section class="section section-dashboard section-dashboard-student">
                <div class="container">
                    <div class="display-spacing display-spacing-plus">


                        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                            <div class="el-panel el-panel-admin-status" style="width:1000px">
                                <div class="el-panel-body">
                                    <div class="el-panel-title">
                                        <h2>購物車</h2>

                                        <table id="cart">
                                            <tr>
                                                <th>課程</th>
                                                <th>課程總堂數</th>
                                                <th>價格</th>
                                                <th>刪除課程</th>
                                            </tr>


                                            <!-- </form> -->
                                        </table>

                                        <div class="sum ">總計：<span id="totalPrice"></span></div>
                                        <br>
                                        <div>
                                            <input type="hidden">
                                        </div>
                                        <div style="margin-top: 30px;">
                                            <button id="pay-button"
                                                class="button button-md button-block button-primary">
                                                <span class="text">確認支付</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <!--/-->
    </div>

    <div id="xxx"></div>
    </div>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/plugins.min.js"></script>
    <script src="../public/js/main-scripts.js"></script>
    <script src="../public/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
    <script src="https://ecpg.ecpay.com.tw/Scripts/sdk-1.0.0.js?t=20210121100116"></script>
    <script>
        const totalPriceEle = document.querySelector('#totalPrice');
        window.addEventListener("load", e => {
            fetch("/tfa105g5-more-than-educate/course/shoppingCart", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then((data) => {
                    sessionStorage.setItem("orders", JSON.stringify(data));
                    const sumPrice = document.querySelector('#totalPrice')
                    const cartTable = document.querySelector("#cart")
                    for (let i = 0; i < data.length; i++) {

                        const courseid = data[i].courseid
                        const memid = data[i].memid
                        const expertiseid = data[i].expertiseid
                        const coursetitle = data[i].coursetitle
                        const courseintro = data[i].courseintro
                        const classamount = data[i].classamount
                        const price = data[i].price
                        const username = data[i].username
                        const photo = data[i].photo
                        cartTable.innerHTML +=
                            `<tr>
                                <td class="overflow">
                                    <input type="checkbox" data-price="${price}" onclick="checkboxChange(event)" checked >
                                    <a href="/tfa105g5-more-than-educate/views/courseDetail?courseId=${courseid}">
                                        <img src="data:image/png;base64,${photo}" style="width:50px;height:50px"/>
                                    </a>
                                    ${coursetitle}
                                </td>
                                <td>${classamount}</td>
                                <td>${price}</td>
                                <td>
                                    <input name= "courseid" type= "hidden" value ='${courseid}'/> 
                                    
                                    <button data-id="${courseid}" onclick="sremCourse(${courseid})" class="button button-primary" style="width:50px;height:30px;">刪除</button>
                                </td>
                            </tr>    
                            <br>                                                            
                             `;
                        sumPrice.innerHTML = +sumPrice.innerHTML + price
                    }
                    return sumPrice;

                })
        })

        function sremCourse(courseid) {
            const url = '/tfa105g5-more-than-educate/course/sremCourse';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ courseid })
            })
                .then(response => response.json())
                .then(body => {
                    location.reload();
                });
        }

        function checkboxChange(e) {
            const curPrice = +e.target.dataset.price;
            const totalPrice = +totalPriceEle.textContent
            if (e.target.checked) {
                totalPriceEle.textContent = curPrice + totalPrice;
            } else {
                totalPriceEle.textContent = totalPrice - curPrice;
            }
        }

        $("#pay-button").on("click", function (e) {

            const order = sessionStorage.getItem("orders");


            fetch(
                "/tfa105g5-more-than-educate/course/ecpay",
                {
                    'method': 'POST',
                    'headers': { 'content-type': 'application/json' },
                    'body': order
                }
            ).then(response => response.text()
            ).then(text => {
                console.log(text)
                $("div#xxx").html(text);
            })

        })
    </script>

</body>

</html>