<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<html lang="en" dir="ltr">

<head>
    <title>MoreThanEducate</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="../">

    <link rel="shortcut icon" href="../public/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,600,700,900&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../public/css/plugins.min.css" />
    <link rel="stylesheet" href="../public/css/styles.css" />
</head>

<body>
    <!-- Loading -->
    <div id="preloader" class="preloader">
        <div class="preloader-inner">
            <div class="preloader-6">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- / -->
    <!--Overlay-->
    <span class="mega-menu-overlay"></span>
    <!--Header-->
    <header class="app-header app-header-1 boxed">
        <div class="container">
            <div class="header-wrap">
                <button class="button button-menu button-open-sidenav">
                    <span></span>
                </button>
                <div class="header-menu">
                    <ul>
                        <li class="has-menu" data-megamenu-link="mega-menu-1">
                            <div class="mega-menu-link">
                                <span class="title">前往</span>
                                <span class="icon fa fa-angle-left"></span>
                            </div>
                            <div data-megamenu-id="mega-menu-1" class="mega-menu mega-menu-1">
                                <div class="mega-menu-inner">
                                    <div>
                                        <div class="espard-menu">
                                            <div class="row row-xl-5">
                                                <!--Col-->
                                                <div class="col">
                                                    <p class="title">Quick Access</p>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Teacher Profile</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">List of Teachers</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Course Details</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">List of Courses</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--/-->
                                                <!--Col-->
                                                <div class="col">
                                                    <p class="title">Quick Access</p>
                                                    <ul>
                                                        <li>
                                                            <a href="page-blog.html">
                                                                <span class="text">Blog/News</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="page-single-post.html">
                                                                <span class="text">Single Post</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="page-cooperation.html">
                                                                <span class="text">Cooperation</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="page-departements.html">
                                                                <span class="text">Departements</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="page-start.html">
                                                                <span class="text">Getting Started!</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--/-->
                                                <!--Col-->
                                                <div class="col">
                                                    <p class="title">個人中心</p>
                                                    <ul>
                                                        <li>
                                                            <a
                                                                href="/tfa105g5-more-than-educate/views/member/dashboard.jsp">
                                                                <span class="text">個人首頁</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a
                                                                href="/tfa105g5-more-than-educate/views/member/profile.jsp">
                                                                <span class="text">個人資料</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Edit Skills</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Adding Classrooms</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--/-->
                                                <!--Col-->
                                                <div class="col">
                                                    <p class="title">Other Pages</p>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Sign-In Page</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Sign-Up Page</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Link Content</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="text">Link Content</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--/-->
                                                <!--Col-->
                                                <div class="col">
                                                    <p class="title">Communication</p>
                                                    <ul>
                                                        <li>
                                                            <a href="page-about.html">
                                                                <span class="text">About Us</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="page-contact.html">
                                                                <span class="text">Contact Us</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="page-faq.html">
                                                                <span class="text">FAQ</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="page-policy.html">
                                                                <span class="text">Policy</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--/-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/tfa105g5-more-than-educate/views/member/teacherProfile.jsp">
                                <span class="text">成為老師</span>
                                <span class="icon fa fa-angle-left"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-logo">
                    <a href="/tfa105g5-more-than-educate/index.jsp" class="primary-logo">
                        <span class="text-1">MoreThanEducate</span>
                        <span class="text-2"></span>
                    </a>
                </div>
                <div class="header-links">
                    <form action="/tfa105g5-more-than-educate/views/member/logout" method="post">
                        <button class="button button-md button-primary" type="submit">登出</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/-->
    <!--Sidenav-->
    <div class="app-sidenav app-sidenav-1">
        <div class="sidenav-menu">
            <div class="sidenav-head">
                <img src="assets/images/sidenav.jpg" alt="sidenav banner">
                <button class="button button-close-sidenav"></button>
            </div>
            <div class="sidenav-body">
                <div class="sidenav-body-inner">
                    <div class="sidenav-links">
                        <a href="page-login.html" class="button button-md button-block button-line-primary">
                            <span class="text">Sign In</span>
                        </a>
                        <a href="page-register.html" class="button button-md button-block button-primary">
                            <span class="text">Sign Up</span>
                        </a>
                    </div>
                    <ul>
                        <li>
                            <a href="home.html">
                                <span class="text">Home</span>
                                <span class="icon fa fa-angle-right"></span>
                            </a>
                        </li>
                        <li class="has-menu">
                            <a href="#">
                                <span class="text">All Pages</span>
                                <span class="icon fa fa-angle-right"></span>
                            </a>
                            <div class="mega-menu">
                                <p class="title">Quick Access</p>
                                <ul class="sidenav-menu-ul">
                                    <li>
                                        <a href="page-blog.html">
                                            <span class="text">Blog/News</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-single-post.html">
                                            <span class="text">Single Post</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-cooperation.html">
                                            <span class="text">Cooperation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-start.html">
                                            <span class="text">Getting Started!</span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="title">Quick Access</p>
                                <ul class="sidenav-menu-ul">
                                    <li>
                                        <a href="page-teacher.html">
                                            <span class="text">Teacher</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-teachers.html">
                                            <span class="text">List of Teachers</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-course.html">
                                            <span class="text">Course Details</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-courses.html">
                                            <span class="text">List of Courses</span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="title">Dashboard</p>
                                <ul class="sidenav-menu-ul">
                                    <li>
                                        <a href="teacher/dashboard.html">
                                            <span class="text">Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="teacher/dashboard-profile.html">
                                            <span class="text">Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="teacher/dashboard-skills.html">
                                            <span class="text">Edit Skills</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="teacher/dashboard-classrooms.html">
                                            <span class="text">Classrooms</span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="title">Communication</p>
                                <ul class="sidenav-menu-ul">
                                    <li>
                                        <a href="page-about.html">
                                            <span class="text">About Us</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-contact.html">
                                            <span class="text">Contact Us</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-faq.html">
                                            <span class="text">FAQ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-policy.html">
                                            <span class="text">Policy</span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="title">Other Pages</p>
                                <ul class="sidenav-menu-ul">
                                    <li>
                                        <a href="page-login.html">
                                            <span class="text">Sign-In</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-register.html">
                                            <span class="text">Sign-Up</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-departements.html">
                                            <span class="text">Departements</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-menu">
                            <a href="#">
                                <span class="text">Languages</span>
                                <span class="icon fa fa-angle-right"></span>
                            </a>
                            <div class="mega-menu">
                                <ul>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/uk.svg" alt="alt" />
                                                <h3>English</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/germany.svg" alt="alt" />
                                                <h3>German</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/france.svg" alt="alt" />
                                                <h3>French</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/italy.svg" alt="alt" />
                                                <h3>Italian</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/china.svg" alt="alt" />
                                                <h3>Chinese</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/japan.svg" alt="alt" />
                                                <h3>Japanese</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/south-korea.svg" alt="alt" />
                                                <h3>Korean</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/russia.svg" alt="alt" />
                                                <h3>Russian</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/arabic.svg" alt="alt" />
                                                <h3>Arabic</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/turkey.svg" alt="alt" />
                                                <h3>Turkish</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/iran.svg" alt="alt" />
                                                <h3>Persian</h3>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="el-flag">
                                        <div class="inner">
                                            <a href="page-departements.html">
                                                <img src="assets/images/flags/spain.svg" alt="alt" />
                                                <h3>Spanish</h3>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="page-teachers.html">
                                <span class="text">Teachers</span>
                                <span class="icon fa fa-angle-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="page-courses.html">
                                <span class="text">Courses</span>
                                <span class="icon fa fa-angle-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="page-cooperation.html">
                                <span class="text">Join Now.</span>
                                <span class="icon fa fa-angle-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="page-start.html">
                                <span class="text">Let's get started</span>
                                <span class="icon fa fa-angle-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="sidenav-close"></span>
    </div>
    <!--/-->
    <!--Wrapper-->
    <div class="app-wrapper">
        <div class="page page-dashboard page-dashboard-student">
            <!--Section-->
            <section class="section section-dashboard section-dashboard-student">
                <div class="container">
                    <div class="display-spacing display-spacing-plus">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                                <aside class="sidebar">
                                    <div class="el-panel el-panel-teacher-widget">
                                        <div class="el-panel-body">
                                            <div class="el-panel-title">
                                                <h2>教師中心</h2>
                                            </div>
                                            <ul class="el-list-icon">
                                                <li>
                                                    <a
                                                        href="/tfa105g5-more-than-educate/views/member/teacherProfile.jsp">
                                                        <i class="fa fa-cog"></i>
                                                        <span class="text">教師資料</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="/tfa105g5-more-than-educate/views/member/teacherSkills.jsp">
                                                        <i class="fa fa-cog"></i>
                                                        <span class="text">教授資格</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="/tfa105g5-more-than-educate/views/course/CourseOverview1.html">
                                                        <i class="fa fas fa-book"></i>
                                                        <span class="text">課程總覽</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                                <div class="el-panel el-panel-admin-status">
                                    <div class="el-panel-body">
                                        <div class="el-panel-title">
                                            <h2>課程總覽</h2>
										<div style="text-align:right">
                                            <form action="/tfa105g5-more-than-educate/views/course/CourseInsert.jsp"
                                                method="post">
                                                    <button type= "submit" class="button button-primary" style="width:100px;height:30px;">新增課程</button>       
                                            </form>
                                        </div>

                                            <table id="all_course" class="table">
                                                <tr>
                                                    <th>專精科目</th>
                                                    <th class="overflow">課程標題</th>
                                                    <th class="overflow">課程內容</th>
                                                    <th>堂數</th>
                                                    <th>價格</th>
                                                    <th>修改課程</th>
                                                    <th>下架課程</th>
                                                </tr>


                                                <!-- </form> -->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/-->
        </div>
    </div>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/plugins.min.js"></script>
    <script src="../public/js/main-scripts.js"></script>
    <script src="../public/js/dashboard.js"></script>
    <script>
        window.addEventListener("load", e => {
            fetch("http://localhost:7080/tfa105g5-more-than-educate/views/course.overview", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then((data) => {
                    console.log(data);
                    const courseTable = document.querySelector("#all_course")

                    for (let i = 0; i < data.length; i++) {
                        const courseid = data[i].courseid
                        const memid = data[i].memid
                        const coursetitle = data[i].coursetitle
                        const courseintro = data[i].courseintro
                        const classamount = data[i].classamount
                        const price = data[i].price
                        const expertiseid = data[i].expertiseid
                        const expertiseName = data[i].expertise.expertiseName;

                        courseTable.innerHTML += (
                            `<tr class="overflow">
                <td>${expertiseName}</td>
    
                <td class="overflow"><a href="/tfa105g5-more-than-educate/views/courseDetail?courseId=${courseid}">${coursetitle}</a></td>

                <td class="overflow">${courseintro}</td>
    
                <td>${classamount}</td>
    
                <td>${price}</td>
                
                <td>
                    <form action="/tfa105g5-more-than-educate/views/course.jump.update" method= "post" >
                        <input name= "courseid" type= "hidden" value ='${courseid}'/> 
                        <input name= "memid" type= "hidden" value ='${memid}'/> 
                        <input name= "expertiseid" type="hidden" value ='${expertiseid}'/> 
                        <input name= "coursetitle" type= "hidden" value= "${coursetitle}" />
                        <input name= "courseintro" type= "hidden" value= "${courseintro}" />
                        <input name= "classamount" type= "hidden" value= "${classamount}" />
                       	<input name= "price" type= "hidden" value= "${price}" />
                       
                        <button type= "submit" class="button button-primary" style="width:50px;height:30px;">修改</button>
                    </form>
                 </td>
             
                <td>
                    <form action = "/tfa105g5-more-than-educate/views/course.delete" method = "post">
                        <input name= "courseid" type= "hidden" value ='${courseid}'/> 
                        <button type= "submit" class="button button-primary" style="width:50px;height:30px;">下架</button>
                    </form>
                </td>
    </tr>	`
                        )
                    }
                })
        })


    </script>


    <style>
        .table {
            table-layout: fixed;
            word-break: break-all;
            overflow: hidden;
        }
        .overflow{
            overflow: hidden;
            white-space: nowrap;
  			text-overflow: ellipsis;
        }
    </style>

</body>

</html>