/*------------------------------------
    Section: Features
------------------------------------*/

.section-features {
    &.section-features-1 {
        .item {
            text-align: center;
            position: relative;
            padding: 33px 0;
            margin-bottom: 9px;
            @extend .el-card;
            h3 {
                color: $text-color;
                font-size: 14px;
            }
            img {
                width: 39px;
                height: 39px;
                border-radius: 50%;
                margin-bottom: 20px;
            }
        }
    }
    &.section-features-2 {
        .item {
            text-align: center;
            position: relative;
            margin-bottom: 60px;
            p {
                font-size: 12px;
                max-width: 270px;
                text-align: center;
                margin: 0 auto 15px;
            }
            h3,
            h4 {
                font-size: 16px;
                margin-bottom: 15px;
            }
            img {
                width: 60px;
                height: 60px;
                margin: 0 auto 20px;
            }
        }
    }
}

@media (max-width: 992px) {
    .section-features {
        &.section-features-1 {
            padding-top: 30px !important;
        }
    }
}
