/*------------------------------------
    Hero
------------------------------------*/

.section-hero {
    width: 100%;
    height: 100vh;
    position: relative;
    & + .section-features-1 {
        top: -60px;
        margin-bottom: -60px;
    }
    .el-floating-shapes {
        .shape {
            width: 99px;
            z-index: 9;
            padding-top: 100%;
            position: absolute;
            img {
                top: 0;
                left: 0;
                width: 100%;
                position: absolute;
            }
            &.shape-1 {
                top: 20%;
                left: 15%;
            }
            &.shape-2 {
                top: 60%;
                left: 9%;
            }
            &.shape-3 {
                top: 30%;
                right: 15%;
            }
            &.shape-4 {
                top: 75%;
                right: 6%;
            }
        }
    }
    .display-center {
        z-index: 15;
    }
    .hero-content {
        p {
            color: $text-color;
            font-size: 18px;
            margin-bottom: 30px;
        }
        h1 {
            font-size: 45px;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 20px;
            span {
                z-index: 1;
                position: relative;
            }
            .text-border {
                z-index: 1;
                display: inline-block;
                position: relative;
                padding-left: 6px;
                padding-right: 6px;
                &:after {
                    left: 6px;
                    right: 6px;
                    bottom: 12px;
                    height: 12px;
                    content: "";
                    z-index: 0;
                    opacity: 0.3;
                    position: absolute;
                    background-color: $primary;
                }
            }
        }
    }
    &.section-hero-1 {
        .hero-image {
            z-index: 3;
            position: relative;
            &.hero-image-1 {
                top: 27%;
                right: 11%;
                position: absolute;
                img {
                    width: 500px;
                }
            }
        }
    }
    &.section-hero-4 {
        height: 100vh;
        .hero-content {
            padding-top: 80px;
        }
    }
    &.section-hero-5 {
        background-color: $primary;
        .hero-content {
            text-align: center;
            h1 {
                color: $base-0;
            }
        }
    }
    .section-shape {
        &.shape-1 {
            top: -21% !important;
            left: -1%;
            width: 400px;
            position: absolute;
        }
        &.shape-2 {
            top: -30%;
            right: 0;
            opacity: 0.3;
            width: 400px;
            position: absolute;
        }
    }
}

@media (min-width: 1300px) {
    .section-hero {
        &.section-hero-2 {
            min-height: 690px !important;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .section-hero {
        &.section-hero-2 {
            min-height: 570px !important;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section-hero {
        &.section-hero-2 {
            min-height: 570px !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .section-hero {
        &.section-hero-2 {
            min-height: 510px;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .section-hero {
        &.section-hero-2 {
            min-height: 630px !important;
        }
    }
}

@media (max-width: 1300px) {
    .section-hero {
        &.section-hero-2 {
            .hero-image {
                img {
                    height: 190px;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .section-hero {
        .hero-content {
            padding-top: 60px;
            p {
                font-size: 14px;
            }
            h1 {
                font-size: 24px;
                margin-bottom: 15px;
            }
            h2 {
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
        &.section-hero-1 {
            .hero-image {
                opacity: .6;
                img {
                    width: 390px !important;
                }
            }
        }
        &.section-hero-4 {
            &.overlay-color {
                .bg-color {
                    opacity: 0.6 !important;
                    background-color: $base-1 !important;
                }
            }
            &.overlay-image {
                background-position: top center !important;
            }
        }
        .el-floating-shapes {
            opacity: .45;
        }
    }
}
@media (max-width: 768px) {
    .section-hero {
        &.section-hero-1 {
            .hero-image {
                opacity: .15;
                img {
                    width: 390px !important;
                    max-width: 90% !important; 
                }
            }
        }
        &.section-hero-2 {
            .hero-image {
                img {
                    bottom: 45px;
                    width: 90%;
                    height: auto;
                }
            }
            .display-spacing {
                .hero-content {
                    padding-top: 30px;
                    .button {
                        width: 48%;
                        margin-bottom: 7px;
                        &.button-primary {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
