
/*------------------------------------
testimonial
------------------------------------*/
/* 
* testimonial 
*/
.section-testimonial {
    .slick-dots {
        top:0;
        right: 15px;
        bottom: inherit;
        position: absolute;
        text-align: right;
        display: inline-block;
    }
    .testimonial-item {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        display: inline-block;
        padding: 30px;
        margin: 0 15px 30px;
        border: 1px solid $base-1;
        background-color: $base-0;
        p {
            font-size: 14px;
            line-height: 1.8;
            margin-bottom: 30px;
        }
        .type {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            display: inline-block;
            margin: 0 15px 30px;
            span {
                z-index: 6;
                position: relative;
            }
            &:after { 
                left: -16px;
                bottom: -6px;
                width: 36px;
                height: 36px;
                opacity: 0.75;
                content: "";
                position: absolute;
                border-radius: 50%;
                background-color: $primary;
            }
        }
        .author {
            height: 50px;
            position: relative;
            padding-left: 65px;
            h4 {
                font-size: 14px;
                margin-bottom: 6px;
            }
            h5 {
                color: $base-1;
                font-size: 12px;
                margin-bottom: 0;
            }
            img {
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                position: absolute;
                border-radius: 50%;
            }
        }
    }
    &.section-testimonial-2 {
        .item {
            .author {
                h4 {
                    font-size: 14px;
                    margin-bottom: 6px;
                    color: $base-1 !important;
                }
                h5 {
                    color: $text-color !important;
                }
            }
        }
    }
    .lets-work {
        text-align: center;
        padding-top: 90px;
        position: relative;
        .button {
            top: 0px;
        }
    }
}
@media (max-width: 992px) {
    .section-testimonial-1 .shape-2 {
        display: none;
    }
}
@media (max-width: 768px) {
    .section-testimonial-1 .testimonial-item {
        padding: 20px;
    }
    .section-testimonial-1 .testimonial-item p {
        font-size: 12px;
    }
}